.Convergence-Login-Border {
        width: 428px;
        border-top: 0;
        border-left:0;
        border-bottom: 0;
        border-right:0 ;
}

.Convergence-Login {
        position:absolute;
        left:50%;
        top:320px;
        width:430px;
        margin-top: 75px;
        margin-left:-220px;
        border-top: 0;
        border-left: 0;
        border-bottom: 0;
        border-right: 0;
        font-weight: bold;
}
.Convergence-Login-WelcomeMsg {
        font-size: 12px;
        font-weight: bold;
        margin: 15px 0 5px 0;
        display: none;
}
div, span, label, a, h2, p, input {
    color: #993300;
    font-family: Arial,helvetica,sans-serif;    
    font-size: 12px;
         text-decoration:none;
}
.Convergence-Login-Copyright {
        font-size: 12px;
        padding: 2px 10px 2px 8px;
        margin-top: 30px;
        text-align:center;
}
input.okienko {
    border: solid 1px;
    border-top-color:#993300;
    border-right-color:#993300;
    border-bottom-color:#993300;
    border-left-color:#993300;
    padding: 1px 2px 1px 2px;
    width:140px; 
}
button {
    border-top-color:#993300;
    border-right-color:#993300;
    border-bottom-color:#993300;
    border-left-color:#993300;
    border-style:solid;
    border-width:1px;
    white-space:nowrap;
    padding:0 5px 1px 5px;
    margin:0 2px 0 1px;                         
        cursor:pointer;
width: 100px;
height: 26px;
font-weight: bold;
background-color:#F8D7B8;
color: #993300;
}

button+hover {
    border-top-color:#993300;
    border-right-color:#993300;
    border-bottom-color:#993300;
    border-left-color:#993300;
    cursor:pointer;
width: 100px;
height: 26px;
font-weight: bold;
background-color:#F8D7B8;
color: #993300;
}

